@model IEnumerable<Moonpaper.Models.Article>
@{
    ViewData["Title"] = "All";
}

@foreach (var item in Model)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="rounded articleImg" src="@item.UrlMainImg" alt="@item.Title">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="@item.Url" target="_blank">@item.Title</a></h4>
                            <p class="card-text">@item.Summary</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="@item.UrlSource" target="_blank">@item.Source</a>
                        <small class="text-muted card-footer-custom">@item.DateTime.Date</small>
                        <small class="text-muted card-footer-custom">@item.Views</small>

                        @{
                            if (item.Tags != null)
                            {
                                string[] tags = item.Tags.Split(';');

                                foreach (var tag in tags)
                                {
                                    <small class="text-muted card-footer-custom">@tag</small>
                                }
                            }
                        }

                        @*<div class="tag">
        <button class="tag-botton">-</button>
        <div class="tag-botton">IT</div>
        <button class="tag-botton">+</button>
        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}

