@model IEnumerable<Moonpaper.Models.Article>
@{
    ViewData["Title"] = "All";
}

@foreach (var item in Model)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="rounded articleImg" src="@item.UrlMainImg" alt="@item.Title">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="@item.Url" target="_blank">@item.Title</a></h4>
                            <p class="card-text">@item.Summary</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="tag-container">
                            <button type="button" class="btn btn-outline-danger tag-container-button tag-container-button-left">-</button>
                            <a class="btn tag-container-content" href="@item.UrlSource" target="_blank">@item.Source</a>
                            <button type="button" class="btn btn-outline-success tag-container-button tag-container-button-right">+</button>
                        </div>
                        @{
                            if (item.ArticleTags != null)
                            {
                                foreach (var tag in item.ArticleTags)
                                {
                                    <div class="tag-container">
                                        <button type="button" class="btn btn-outline-danger tag-container-button tag-container-button-left">-</button>
                                        <button type="button" class="btn tag-container-content">@tag.Tag.TagValue</button>
                                        <button type="button" class="btn btn-outline-success tag-container-button tag-container-button-right">+</button>
                                    </div>
                                }
                            }
                        }
                        <div class="date-container">
                            <i class="material-icons" style="font-size:20px; vertical-align: middle;">event_available</i>
                            <div class="date-container-body">@item.DateTime.ToShortDateString()</div>
                        </div>
                        <div class="views-container">
                            <i class="material-icons" style="font-size:20px; vertical-align: middle;">visibility</i>
                            <div class="date-container-views">@item.Views</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

