@model IEnumerable<MoonpaperLinux.Models.Article>
@{
    ViewData["Title"] = "Tag";
}

<nav class="menu">
    <div class="menu__left">
        <div class="menu__block">
            <div class="menu__tag_item">Тэг: @ViewBag.Tag</div>
        </div>
        <div class="menu__block">
            <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=time&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="menu__button menu__button_left @if (ViewBag.SortedBy == "time") { <text>active</text> }">Время</a>
            <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=views&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="menu__button menu__button_center @if (ViewBag.SortedBy == "views") { <text>active</text> }">Просмотры</a>
            <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=rating&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="menu__button menu__button_right @if (ViewBag.SortedBy == "rating") { <text>active</text> }">Рейтинг</a>
        </div>
        <div class="menu__block">
            <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=@ViewBag.SortedBy&Time=day&Pages=@ViewBag.Pages" class="menu__button menu__button_left @if (ViewBag.Time == "day") { <text>active</text> }">День</a>
            <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=@ViewBag.SortedBy&Time=week&Pages=@ViewBag.Pages" class="menu__button menu__button_center @if (ViewBag.Time == "week") { <text>active</text> }">Неделя</a>
            <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=@ViewBag.SortedBy&Time=month&Pages=@ViewBag.Pages" class="menu__button menu__button_right @if (ViewBag.Time == "month") { <text>active</text> }">Месяц</a>
        </div>
    </div>
    <div class="menu__right">
        <div class="menu__block menu__block_end">
            <a href="#" onclick="SetupToLine();" class="menu__button  menu__button_left">
                <img src="~/img/icons/i_menu_lines.png" alt="" class="icon">
            </a>
            <a href="#" onclick="SetupToGrid();" class="menu__button menu__button_right active">
                <img src="~/img/icons/i_menu_grid.png" alt="" class="icon">
            </a>
        </div>
    </div>
</nav>
<div class="block_grid" id="scrolList">
    <partial name="_Articles" />
</div>
<div class="spinner" id="loading"><img src='@Url.Content("~/Content/loading_spinner.gif")'></div>


@*@foreach (var item in Model)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="rounded articleImg" src="@item.UrlMainImg" alt="@item.Title">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="@item.Url" target="_blank">@item.Title</a></h4>
                            <p class="card-text">@item.Summary</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="tag-container">
                            <button type="button" class="btn btn-outline-danger tag-container-button tag-container-button-left">-</button>
                            <a class="btn tag-container-content" href="@item.Source.Url" target="_blank">@item.Source.Name</a>
                            <button type="button" class="btn btn-outline-success tag-container-button tag-container-button-right">+</button>
                        </div>
                        @{
                            if (item.ArticleTags != null)
                            {
                                foreach (var tag in item.ArticleTags)
                                {
                                    <div class="tag-container">
                                        <button type="button" class="btn btn-outline-danger tag-container-button tag-container-button-left">-</button>
                                        <a href="/Home/Tag?tag=@tag.Tag.TagValue" class="btn tag-container-content">@tag.Tag.TagValue</a>
                                        <button type="button" class="btn btn-outline-success tag-container-button tag-container-button-right">+</button>
                                    </div>
                                }
                            }
                        }
                        <div class="date-container">
                            <i class="material-icons" style="font-size:20px; vertical-align: middle;">event_available</i>
                            <div class="date-container-body">@item.DateTime.ToShortDateString()</div>
                        </div>
                        <div class="views-container">
                            <i class="material-icons" style="font-size:20px; vertical-align: middle;">visibility</i>
                            <div class="date-container-views">@item.Views</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@

