@foreach (var item in ViewBag.ArticlePersonals)
{
    <div class="block__item_line">
        <a href="@item.Url" target="_blank"><img src="@item.UrlMainImg" alt="@item.Title" class="article-img"></a>
        <div class="text">
            <h2><a href="@item.Url" target="_blank" class="text__title">@item.Title</a></h2>
            <div class="text__summary">
                @item.Summary
            </div>
        </div>
        <div class="tags-info">
            <div class="tags">
                <div class="tags__Line">
                </div>
                <div id="displayable" class="tags__Drop">
                    <div class="tags__Drop_panel">
                        <div class="tags__icon"></div>
                        <div class="tag">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="@item.Source.Url" class="tag__name @if (item.SourceRating > 0) {<text>active</text>} @if (item.SourceRating < 0) {<text>disactive</text>}">@item.Source.Name</a>
                                <form class="tag__btn-off @if (item.SourceRating < 0) {<text>active</text>}" method="post" data-ajax="true" data-ajax-method="post" asp-controller="Home" asp-action="SourceDown">
                                    <input name="UserId" type="hidden" value="@ViewBag.UserId">
                                    <input name="SourceId" type="hidden" value="@item.Source.Id">
                                    <input class="submit_tagOff submit" type="submit" value="" />
                                </form>
                                <form class="tag__btn-on @if (item.SourceRating > 0) {<text>active</text>}" method="post" data-ajax="true" data-ajax-method="post" asp-controller="Home" asp-action="SourceUp">
                                    <input name="UserId" type="hidden" value="@ViewBag.UserId">
                                    <input name="SourceId" type="hidden" value="@item.Source.Id">
                                    <input class="submit_tagOn submit" type="submit" value="" />
                                </form>
                            }
                            else
                            {
                                <a href="@item.Source.Url" class="tag__name">@item.Source.Name</a>
                                <a href="/Identity/Account/Register" class="tag__btn-off"></a>
                                <a href="/Identity/Account/Register" class="tag__btn-on"></a>
                            }
                        </div>
                        @{
                            if (item.ArticleTagPersonals != null)
                            {
                                foreach (var tag in item.ArticleTagPersonals)
                                {
                                    <div class="tag">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a href="/Home/Tag?tag=@tag.Tag.TagValue" class="tag__name @if (tag.Rating > 0) {<text>active</text>} @if (tag.Rating < 0) {<text>disactive</text>}">@tag.Tag.TagValue</a>
                                            <form class="tag__btn-off @if (tag.Rating < 0) {<text>active</text>}" method="post" data-ajax="true" data-ajax-method="post" asp-controller="Home" asp-action="TagDown">
                                                <input name="UserId" type="hidden" value="@ViewBag.UserId">
                                                <input name="TagId" type="hidden" value="@tag.Tag.Id">
                                                <input class="submit_tagOff submit" type="submit" value="" />
                                            </form>
                                            <form class="tag__btn-on @if (tag.Rating > 0) {<text>active</text>}" method="post" data-ajax="true" data-ajax-method="post" asp-controller="Home" asp-action="TagUp">
                                                <input name="UserId" type="hidden" value="@ViewBag.UserId">
                                                <input name="TagId" type="hidden" value="@tag.Tag.Id">
                                                <input class="submit_tagOn submit" type="submit" value="" />
                                            </form>
                                        }
                                        else
                                        {
                                            <a href="/Home/Tag?tag=@tag.Tag.TagValue" class="tag__name">@tag.Tag.TagValue</a>
                                            <a href="/Identity/Account/Register" class="tag__btn-off"></a>
                                            <a href="/Identity/Account/Register" class="tag__btn-on"></a>
                                        }
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="info__block">
                    <div class="info__time">
                        @Helper.GetTimeForArticle(item.DateTime)
                    </div>
                    <div class="info__views">
                        @item.Views
                    </div>
                </div>
                <div class="info__block-star">
                    <div class="info__stars">@item.Stars</div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (item.IsStar)
                        {
                            <form class="info__stars-button active" method="post" data-ajax="true" data-ajax-method="post" asp-controller="Home" asp-action="StarDown">
                                <input name="UserId" type="hidden" value="@ViewBag.UserId">
                                <input name="ArticleId" type="hidden" value="@item.Id">
                                <input id="star" class="starClick submit" type="submit" value="" />
                            </form>
                        }
                        else
                        {
                            <form class="info__stars-button" method="post" data-ajax="true" data-ajax-method="post" asp-controller="Home" asp-action="StarUp">
                                <input name="UserId" type="hidden" value="@ViewBag.UserId">
                                <input name="ArticleId" type="hidden" value="@item.Id">
                                <input id="star" class="starClick submit" type="submit" value="" />
                            </form>
                        }
                    }
                    else
                    {
                        <a href="/Identity/Account/Register" class="info__stars-button"></a>
                    }
                    @*<a href="#" class="info__stars-button"></a>*@
                </div>
            </div>
        </div>
        <div class="info__block" id="double">
            <div class="info__time">
                @Helper.GetTimeForArticle(item.DateTime)
            </div>
            <div class="info__views">
                @item.Views
            </div>
        </div>
    </div>
}
